# Information about packages and known good version sets
# ======================================================

[buildout]
extensions = mr.developer buildout.dumppickedversions
dump-picked-versions-file = versionslast2.cfg
overwrite-picked-versions-file = true 
extends = 
# Known good sets of eggs we may be using
    plone4.1.3.cfg
    config/plone.app.theming1.0b9_plone4.1.3.cfg    
    config/dexterity1.1_plone4.1.3.cfg
    config/plone.app.z3cform057.cfg
	versionslast.cfg
versions = versions
unzip = true

# Egg sets
[eggs]
main =
	 eisoo.policy
	 eisoo.behaviors

    
test =
    eisoo.policy [test]
    eisoo.forum [test]
    eisoo.km [test]
    eisoo.behaviors [test]
    eisoo.theme [test]
    eisoo.market [test]
    eisoo.topic [test]    
    eisoo.memberattachedinfo [test]   
    eisoo.operation [test] 
    eisoo.mpsource [test] 
    collective.portlet.truereview [test] 
devtools =
    bpython
    plone.reload
    Products.PDBDebugMode
    Products.PrintingMailHost
    Products.DocFinderTab
    Paste
    PasteDeploy
    PasteScript
    zopeskel.dexterity
    collective.dexteritypaste
    

# Checkout locations
[sources]
eisoo.policy = svn https://192.168.0.9/svn/crm/eisoo.policy/trunk
eisoo.km = svn https://192.168.0.9/svn/crm/eisoo.km/trunk
eisoo.forum = svn https://192.168.0.9/svn/crm/eisoo.forum/trunk
eisoo.theme = svn https://192.168.0.9/svn/crm/eisoo.theme/trunk
eisoo.topic = svn https://192.168.0.9/svn/crm/eisoo.topic/trunk
collective.gtags = svn https://192.168.0.9/svn/crm/collective.gtags/trunk
eisoo.memberattachedinfo = svn https://192.168.0.9/svn/crm/eisoo.memberattachedinfo/trunk
eisoo.operation = svn https://192.168.0.9/svn/crm/eisoo.operation/trunk
eisoo.market = svn https://192.168.0.9/svn/crm/eisoo.market/trunk
eisoo.behaviors = svn https://192.168.0.9/svn/crm/eisoo.behaviors/trunk
eisoo.mpsource = svn https://192.168.0.9/svn/crm/eisoo.mpsource/trunk
collective.portlet.truereview = svn https://192.168.0.9/svn/crm/collective.portlet.truereview/trunk
example.conference = svn https://192.168.0.9/svn/crm/example.conference/trunk
optilux.cinemacontent = fs optilux.cinemacontent
optilux.facebookauth  = fs optilux.facebookauth
optilux.policy = fs optilux.policy
optilux.theme = fs optilux.theme



